h2
  text-align: center
  color: white

.container
  justify-content: center
  text-align: center
  margin-bottom: 20px
  padding: 10px

mat-form-field
  width: 70%

.mat-input-element
  color: white

.mat-raised-button
  margin: 4px
  &:hover
    background-color: white
    color: gray

